#modal-page-location-main{
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
}
#modal-page-location-component{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}