#modal-component-main{
    height: 100%;
    width: 47.8%;
    background-color: rgba(0, 0, 0, 0.80);

    position: fixed;
    z-index: 5;

    justify-content: center;
    align-items: center;

}

#modal-page{
    height: 80%;
    width: 80%;
    border: black 1px solid;
    border-radius: 20px;
    background-color: white;
}

#close-button{
    position: absolute;
    height: 8%;
    width: 8%;
    right: 10%;
    border-top-right-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.feather-icon-32{
    height: 32px;
    width: 32px;
}
#modal-header{
    height: 10%;
    width: 100%;
    border: black 1px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

    background-color: #242424;
    color: white;
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body{
    height: 90%;
    width: 100%;
    border-bottom-left-radius: 20px;
}
